<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <!-- Launch Simulation Environment in Gazebo -->
    <include file="$(find env_sim)/launch/gazebo_task_simulation.launch" />

    <!-- Launch Moveit move_group Node -->
    <include file = "$(find pkg_moveit_ur5_1)/launch/move_group.launch" /> 

    <!-- Run RViz with Moveit! Plugin -->
    <arg name="use_rviz" default="true" />

    <include file="$(find pkg_moveit_ur5_1)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
        <arg name="rviz_config" value="$(find pkg_moveit_ur5_1)/launch/moveit.rviz"/>
    </include>
</launch>
