<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <!-- Launch Task-3 Simulation Environment in Gazebo -->
    <include file="$(find pkg_vb_sim)/launch/task3_simulation.launch" />

    <!-- Launch Moveit move_group Node -->
    <include file = "$(find pkg_moveit_ur5_1)/launch/move_group.launch" /> 

    <!-- Run RViz with Moveit! Plugin -->
    <arg name="use_rviz" default="true" />

    <include file="$(find pkg_moveit_ur5_1)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
        <arg name="rviz_config" value="$(find pkg_moveit_ur5_1)/launch/moveit.rviz"/>
    </include>

    <!-- Add Conveyor to Moveit! Planning Scene in RViz -->
    <arg name="scene_file" default="$(find pkg_task3)/config/rviz/ur5_with_conveyor.scene"/>
    <node name = "moveit_publish_scene_from_text" pkg= "moveit_ros_planning" type = "moveit_publish_scene_from_text" args= "$(arg scene_file)"/>

    <!-- Run Task-3 ROS Node -->
    <node name= "node_t3_ur5_conveyor" pkg= "pkg_task3" type="pick_and_place_with_conveyor.py" output="screen"/>

    <!-- Recording Bag File for Submission -->
    <arg name="record" default="true"/>
    <arg name="rec_name" default="t3.bag"/>

    <group if="$(arg record)">
        <node name="rosbag_record_pick" pkg="rosbag" type="record"
         args="record -O $(find pkg_task3)/bag_files/$(arg rec_name) --chunksize=10 /eyrc/vb/ur5_1/vacuum_gripper/logical_camera/ur5_1" output="screen"/>
   </group>
</launch>
